<?xml version="1.0" encoding="UTF-8"?>
<html lang="en">
	<head>
		<title>Notes from Egypt</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css"/>
		<link rel="stylesheet" href="assets/css/notesfromegypt.css"/>
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
				    <div class="app:print_header"/>
					
                <!-- content div start -->
                <div id="content"/>

				<!-- Footer -->
					<footer id="footer">
						
						<ul class="copyright">
							<li>© 2017: <a href="mailto:frank.grieshaber@zaw.uni-heidelberg.de">Frank Grieshaber</a>
                    </li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"/>
			<script src="assets/js/jquery.scrollex.min.js"/>
			<script src="assets/js/jquery.scrolly.min.js"/>
			<script src="assets/js/skel.min.js"/>
			<script src="assets/js/util.js"/>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"/>

	</body>
</html>